# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go build
/bin/
/dist/

# Dependency directory
/vendor/

# Go workspace file
go.work
go.work.sum

# Environment
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo

*.db